<div>
  <ul class="list-inline">
    <li><%= link_to 'Рестораны Краснодара', restaurants_path %></ul></li>
    <li><%= link_to 'Как оформить заказ', order_path %></li>
  <li><%= link_to 'О нас', about_path %></li>
  <li><%= link_to 'Отзывы', reviews_path %></li>
   <li><%= link_to 'Новости и акции', discounts_path %></li>




</div>
