<div class="row">
  <div class="col-lg-4">
     <%= search_form_for @search do |f| %>
        <div class="field">
          <%= f.label :name_cont %>
          <%= f.text_field :name_cont %>
          <%#= f.check_box :cuisine => "Восточная" %>
        </div>
        <div class="actions">
          <%= f.submit "Найти!" %>
        </div>
      <% end %>



  </div>
  <div class="col-lg-8">
  <p id="notice"><%= notice %></p>

<h1>Рестораны</h1>
        <div class="restaurants">
    <% @restaurants.each do |restaurant| %>
              <div class="restaurant">
          <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
       <p>Кухня <%= restaurant.cuisine %></p>
                <%= restaurant.first_title %>
         <p>Описание <%= restaurant.description %> </p>
                <%= image_tag restaurant.avatar.thumb.url %>
          <%= restaurant.specialization %>
          <%= restaurant.rating %>
           <% restaurant.addresses.each do |address| %>
            <%= address.title %>
          <% end %>
          <%= link_to "Отзывы", restaurant_reviews_path(restaurant) %><% end %>
        </div>
        </div>
<br>

<%= link_to 'На главную', root_path %>
</div>
</div>
