<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>

<p>
  <strong>First title:</strong>
  <%= @restaurant.first_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @restaurant.image %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @restaurant.specialization %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p><% @restaurant.addresses.each do |address|%></p>
      <p><%= address.title %></p>
      <% end %>
  <p>Посмотреть отзывы о ресторане <%= link_to "Отзывы", restaurant_reviews_path(@restaurant) %></p>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

<%= link_to 'Вернуться', restaurants_path %>
