<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @discount.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @discount.body %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
