<div class="row">
  <div class="col-lg-4">
     <%= search_form_for @search do |f| %>
       <%= f.text_field :name_cont %>
       <%= f.submit "Искать" %>
    <% end %>

  </div>
  <div class="col-lg-8">
  <% @reviews.each do |review| %>
    <div class="review">
      <p><%= review.restaurant.name %></p>
      <p><%= review.title %></p>
      <p><%= review.body %></p>


    </div>

  <% end %>
  </div>
</div>
