<div class="row">
  <div class="col-lg-4">
     <%= search_form_for @search do |f| %>
       <%= f.text_field :name_cont %>
       <%= f.submit "Искать" %>
    <% end %>

  </div>
  <div class="col-lg-8">
  <% @restaurants.each do |rest| %>
    <div class="review">
      <p><%= rest.name %></p>
      <p><% rest.reviews.each do |rev| %></p>
           <div class="review">
             <p><%= rev.body %></p>
             <p><%= rev.title %></p>
           </div>
         <% end %>
    </div>

  <% end %>
  </div>
</div>
